# direnv Environments
.env/
.direnv/
.envrc

# Parser builds
classes/
build/

# External Solvers
external
StarExec/external/

# Built packages
StarExec.zip

# Log files
log.*.txt
log.*.txt.lck

# ctags files
.tags*

# VSCode files
.classpath

# python script caches
__pycache__/

# Doc build intermediate files
*.aux
*.html
*.out
*.log

.metals/
.vscode/
